<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>ExceLL V3</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- PROJECT CSS -->
      <%- include('css') %>

  </head>
	<body class="no-trans">

		<!-- scrollToTop -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>

		<!-- header start ------------------------------------------------------------------->
    <%- include('sections/section-header') %>

		<!-- banner start ------------------------------------------------------------------->
    <%- include('sections/section-banner') %>

		<!-- welcome start -->
    <%- include('sections/section-welcome') %>

		<!-- services start ------------------------------------------------------------------>
    <%- include('sections/section-services') %>

		<!-- section detailed-->
    <%- include('sections/section-detailed') %>

		<!-- section about -->
    <%- include('sections/section-about') %>

		<!-- footer start ------------------------------------------------------------------->
    <%- include('sections/section-footer') %>

		<!-- Modal -->
    <%- include('sections/modal-main') %>

		<!-- PROJECT JAVASCRIPT -->
    <%- include('js') %>

	</body>
</html>
